<ion-header [translucent]="true">
  <ion-toolbar color="menu">
    <ion-buttons slot="start">
      <ion-back-button default-href="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Bid Drive</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="submenu">
  <div id="container">
    <br />
    <br />
    <br />
    <ion-card class="bordes">
      <div class="div-titulo">
        <br />
        <ion-title>Bienvenido a Bid Drive</ion-title>
      </div>
      <br />
      <br />
      <form [formGroup]="form" (ngSubmit)="crear()">

        <ion-input label="Nombre" label-placement="floating" fill="outline" placeholder="Ingrese su nombre"
          formControlName="pnombre" (ionBlur)="form.get('pnombre')?.markAsTouched()"></ion-input>
        <p *ngIf="isNombreInvalid()">{{ getNombreError() }}</p>
        <br />

        <ion-input label="Apellido" label-placement="floating" fill="outline" placeholder="Ingrese su apellido"
          formControlName="apellido" (ionBlur)="form.get('apellido')?.markAsTouched()"></ion-input>
        <p *ngIf="isApellidoInvalid()">{{ getApellidoError() }}</p>
        <br />

        <ion-input label="Nombre de usuario" label-placement="floating" fill="outline"
          placeholder="Ingrese su nombre de usuario" formControlName="nom_usuario" (ionBlur)="form.get('nom_usuario')?.markAsTouched()"></ion-input>
        <p *ngIf="isUsuarioInvalid()">{{ getUsuarioError() }}</p>
        <br />

        <ion-input label="Correo electrónico" type="email" label-placement="floating" fill="outline"
          placeholder="Ingrese su correo electrónico" formControlName="correo" (ionBlur)="form.get('correo')?.markAsTouched()"></ion-input>
        <p *ngIf="isCorreoInvalid()">{{ getCorreoError() }}</p>
        <br />

        <ion-input label="Contraseña" type="password" label-placement="floating" fill="outline"
          placeholder="Ingrese su contraseña" formControlName="contrasena" (ionBlur)="form.get('contrasena')?.markAsTouched()">
          <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
        </ion-input>
        <p *ngIf="isContrasenaInvalid()">{{ getContrasenaError() }}</p>
        <br />

        <ion-input label="Confirmar Contraseña" type="password" label-placement="floating" fill="outline"
          placeholder="Confirme su contraseña" formControlName="confirmar_contrasena" (ionBlur)="form.get('confirmar_contrasena')?.markAsTouched()">
          <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
        </ion-input>
        <p *ngIf="isConfirmarContrasenaInvalid()">{{ getConfirmarContrasenaError() }}</p>
        <br />

        <div class="container-check">
          <ion-checkbox formControlName="terminos"></ion-checkbox>
          Acepto los <a>términos y condiciones</a>
        </div>
        <br/>
        <p *ngIf="form.get('terminos')?.touched && form.get('terminos')?.invalid">Debes aceptar los términos y condiciones.</p>
        

        <div class="container-boton">
          <ion-button color="submenu" type="submit" [disabled]="form.invalid">Crear cuenta</ion-button>
        </div>

      </form>

    </ion-card>
  </div>
</ion-content>


