<ion-header [translucent]="true">
  <ion-toolbar color="menu">
    <ion-buttons slot="start">
      <ion-back-button default-href="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Bid Drive</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="submenu">
  <div id="container">
    <br />
    <br />
    <br />
    <ion-card class="bordes">
      <div class="div-titulo">
        <br />
        <ion-title>Bienvenido a Bid Drive</ion-title>
      </div>
      <br />
      <br />
      <form [formGroup]="form" (ngSubmit)="crear()">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input
            formControlName="pnombre"
            type="text"
            placeholder="Ingrese su nombre"
            (ionBlur)="form.get('pnombre')?.markAsTouched()"
          ></ion-input>
        </ion-item>
        
        
        <p *ngIf="form.get('pnombre')?.touched && form.get('pnombre')?.invalid">
          {{ getError('pnombre') }}
        </p>
        
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input
            formControlName="apellido"
            type="text"
            placeholder="Ingrese su apellido"
            (ionBlur)="form.get('apellido')?.markAsTouched()"
          ></ion-input>
        </ion-item>
        
        
        <p *ngIf="form.get('apellido')?.touched && form.get('apellido')?.invalid">
          {{ getError('apellido') }}
        </p>
        <ion-item>
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input
            formControlName="nom_usuario"
            type="text"
            placeholder="Ingrese su nombre de usuario"
            (ionBlur)="form.get('nom_usuario')?.markAsTouched()"
          ></ion-input>
        </ion-item>
        <p *ngIf="form.get('nom_usuario')?.touched && form.get('nom_usuario')?.invalid">
          {{ getError('nom_usuario') }}
        </p>
        
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input
            formControlName="correo"
            type="email"
            placeholder="Ingrese su correo electrónico"
            (ionBlur)="form.get('correo')?.markAsTouched()"
          ></ion-input>
        </ion-item>
        <p *ngIf="form.get('correo')?.touched && form.get('correo')?.invalid">
          {{ getError('correo') }}
        </p>
        
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input
            formControlName="contrasena"
            type="password"
            placeholder="Ingrese su contraseña"
            (ionBlur)="form.get('contrasena')?.markAsTouched()"
          ></ion-input>
        </ion-item>
        <p *ngIf="form.get('contrasena')?.touched && form.get('contrasena')?.invalid">
          {{ getError('contrasena') }}
        </p>
        
        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input
            formControlName="confirmar_contrasena"
            type="password"
            placeholder="Confirme su contraseña"
            (ionBlur)="form.get('confirmar_contrasena')?.markAsTouched()"
          ></ion-input>
        </ion-item>
        <p *ngIf="form.get('confirmar_contrasena')?.touched && form.get('confirmar_contrasena')?.invalid">
          {{ getError('confirmar_contrasena') }}
        </p>
        
        <ion-item>
          <ion-checkbox formControlName="terminos"></ion-checkbox>
          Acepto los <a>términos y condiciones</a>
        </ion-item>
        <p *ngIf="form.get('terminos')?.touched && form.get('terminos')?.invalid">
          Debes aceptar los términos y condiciones.
        </p>
        
        <div class="container-boton">
          <ion-button color="submenu" type="submit" [disabled]="form.invalid">Crear cuenta</ion-button>
        </div>
      </form>
    </ion-card>
  </div>
</ion-content>


