<ion-header [translucent]="true">
  <ion-toolbar color="menu">
    <ion-buttons slot="start">
      <ion-back-button default-href="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="submenu" [fullscreen]="true">
  <div class="margin-form" *ngIf="usuario">
    <br /><br />
    <div class="avatar">
      <ion-avatar *ngIf="photo; else noImage">
        <img [src]="photo" alt="Foto de perfil">
      </ion-avatar>
      <ng-template #noImage>
        <div class="avatar">
          <ion-avatar>
            <img alt="Imagen predeterminada" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
          </ion-avatar>
        </div>
      </ng-template>
      <br />
    </div>

    <div class="center-button">
      <ion-button color="perfil" class="ion-button-custom" (click)="takePicture()">Cambiar Foto</ion-button>
    </div>

    <ion-card color="perfil" class="perfil-card">
      <form (ngSubmit)="actualizarPerfil()">
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [readonly]="true" value="{{usuario.pnombre}}" fill="outline"></ion-input>
        <br />

        <ion-label position="stacked">Apellido</ion-label>
        <ion-input [readonly]="true" value="{{usuario.apellido}}" fill="outline"></ion-input>
        <br />

        <ion-label position="stacked">Nombre de usuario</ion-label>
        <ion-input [readonly]="true" value="{{usuario.nom_usuario}}" fill="outline"></ion-input>
        <br />

        <ion-label position="stacked">Correo electrónico</ion-label>
        <ion-input [readonly]="true" type="email" value="{{usuario.correo}}" fill="outline"></ion-input>   
        <ion-button class="modificar" color="menu" [routerLink]="['/modificar-perfil']">Modificar datos</ion-button>
      </form>
    </ion-card>

    <ion-label class="contrasena">
      <br />
      <p>¿Deseas modificar tu contraseña? <a [routerLink]="['/modificar-contrasena']">Entra aquí</a></p>
    </ion-label>
  </div>
  
  <br /><br /><br />
</ion-content>



