h1 {
    color: #d52d2d;
    margin-top: 15px;
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
}

ion-content {
    width: 1000%;
    height: 1000%;
}

p {
    margin-top: 25px;
    font-size: 22px;
    text-align: center;
    line-height: 1.3;
}


    