<ion-header [translucent]="true">
  <ion-toolbar color="menu">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-back-button default-href="/Inicio"></ion-back-button>
    </ion-buttons>

    <ion-title>Sobre Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item color="submenu">
  <ion-label>
    <div class="logo">
      <img class="logo" alt="lodo bid drive" src="/assets/logo/logo2.png">
    </div>

    <h1>𝓑𝓲𝓭 𝓓𝓻𝓲𝓿𝓮</h1>
    <h2>Bid Drive es una empresa que organiza subastas de vehículos en Chile.</h2>
    <p>La sucursal de Bid Drive en Las Condes está ubicada en una zona céntrica y accesible de Santiago, 
      lo que facilita la participación de compradores interesados en adquirir vehículos a través de subastas.
    </p>
  </ion-label>
  <br />
      <br />
</ion-item>
</ion-content>

<ion-footer [translucent]="true">
  <ion-tab-bar color="menu" slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/subasta']">
      <ion-icon name="car-sport-outline"></ion-icon>
      subasta
    </ion-tab-button>
    <ion-tab-button tab="library" [routerLink]="['/inicio']">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="home" [routerLink]="['/perfil']">
      <ion-icon name="person-outline"></ion-icon>
      Cuenta
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
