<ion-header [translucent]="true">
  <ion-toolbar color="menu">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="submenu" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="menu">
    <img alt="" src="assets/imgcard/sucurs.jpg" />
  </ion-card>

  <div class="subasta-section">
    <ion-card color="light" class="subasta-card">
      <ion-card-header>
        <ion-card-title class="subasta-title">Subasta Día Martes (601)</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list inset="true">
          <ion-item *ngFor="let item of subastaItems">
            <ion-label>
              <h2>{{ item.label }}</h2>
              <p>{{ item.count }} disponibles</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ubicación Actual</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Latitud: {{ latitud }}</p>
      <p>Longitud: {{ longitud }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer [translucent]="true">
  <ion-tab-bar color="menu" slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/subasta']">
      <ion-icon name="car-sport-outline"></ion-icon>
      Subasta
    </ion-tab-button>
    <ion-tab-button tab="library" [routerLink]="['/inicio']">
      <ion-icon name="home-outline"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="home" [routerLink]="['/perfil']">
      <ion-icon name="person-outline"></ion-icon>
      Cuenta
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
