.form-container {
    padding: 20px;
  }
  
  .vehicle-image {
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  ion-item {
    margin-bottom: 15px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  