<ion-header [translucent]="true">
  <ion-toolbar color="menu">
    <ion-buttons slot="start">
      <ion-back-button default-href="/subasta"></ion-back-button>
    </ion-buttons>
    <ion-title>Nissan 370z Nismo (2012)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="submenu">
  <ion-card>
    
      <img src="assets/imgcard/ni1.jpg" alt="Nissan 370z Nismo 1">
      <img src="assets/imgcard/ni2.jpg" alt="Nissan 370z Nismo 2">
      <img src="assets/imgcard/ni3.jpg" alt="Nissan 370z Nismo 3">
      <img src="assets/imgcard/ni4.jpg" alt="Nissan 370z Nismo 4">
      <img src="assets/imgcard/ni5.jpg" alt="Nissan 370z Nismo 5">
    

    <ion-card-header>
      <ion-card-title class="card-title">Nissan 370z Nismo (2012)</ion-card-title>
      <ion-card-subtitle>15,000 km</ion-card-subtitle>
      <ion-card-subtitle>Bencina</ion-card-subtitle>
      <ion-card-subtitle>Manual</ion-card-subtitle>
      <ion-card-subtitle>$20,00,000 CLP</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <h2 class="cronometro-title">Tiempo Restante</h2>
      <p class="cronometro-time">{{ tiempoFormateado }}</p>
      <ion-item>
        <ion-label>Puja (mínimo 500.000 CLP):</ion-label>
        <ion-input type="number" [(ngModel)]="oferta" placeholder="Ingresa tu oferta"></ion-input>
      </ion-item>
      <ion-button expand="full" color="submenu" (click)="pujar()">Pujar</ion-button>
      <br/>
      <ion-label *ngIf="mensaje" class="puja-message">{{ mensaje }}</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>

