.content-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-card {
  width: 90%;
  max-width: 400px; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

.formulario-contrasena ion-item {
  margin-bottom: 20px; 
}

ion-button {
  margin-top: 20px; 
}
