#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #000000;
  
    margin: 0;
  }
  
  ion-label {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 18px;
  }
#meme-notfound{
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
p {
    font-size: 18px;
}

h1 {
    font-size: 30px;
    color: #000000
}
.gif-notfound {
    margin-bottom: 20px;
}